body {
  background-color: #fffef2 !important;
}
@font-face {
  font-family: wBQBold;
  src: url(../font/WindsorBQ-Bold.otf);
}
@font-face {
  font-family: Mantel;
  src: url(../font/Mantel.ttf);
}
@font-face {
  font-family: wcfont;
  src: url(../font/WindsorCondensed.ttf);
}
.main {
  background-image: url(https://www.thalaivarsbiryani.com/assets/LeftPattern.png);
  background-repeat: repeat-y;
  width: 54%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: 10%;
}
.rightBgImg {
  background: url(../assets/RightPattern.png);
  background-repeat: repeat-y;
  width: 8%;
  position: absolute;
  right: 0;
  background-size: 100%;
}
#navbarNav {
  text-align: center;
}
.tbw {
  overflow: hidden;
}
#iconLogo {
  display: none;
}
#TBWLogo {
  position: absolute;
  width: 23%;
  left: 75%;
  top: 64%;
  z-index: 1;
}
a {
  color: #520359 !important;
}
.tbw a {
  float: left;
  color: #520359;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar-light .navbar-brand {
  left: 8% !important;
  position: relative;
  color: #520359 !important;
  font-family: wBQBold;
  font-size: 30px;
}
.navbar-nav > li {
  margin-left: 5px;
  margin-right: 5px;
}
.tbw a:hover {
  background-color: #ddd;
  color: #000;
}
.tbw a.active {
  background-color: #4caf50;
  color: #fff;
}
.menutext,
.menutext2,
.menutext3 {
  text-align: center;
}
.tbw-right {
  float: right;
}
p {
  color: #520359;
  font-size: 35px;
  font-family: wcfont;
}
p a:hover {
  text-decoration: none;
}
#logoPng {
  width: 50%;
}
.orderNowMobile {
  display: none;
}
.Banner {
  z-index: -1;
  position: relative;
}
#tbwBannerC {
  background-image: url(../assets/Banner.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#leftPatternImg {
  position: absolute;
  top: 0;
  width: 8%;
}
.leftpattern {
  position: absolute;
}
.tbwContentCPage1 {
  background-image: url(../assets/BGTexture.jpg);
  width: 100%;
}
.leftPatternImg2 {
  position: absolute;
  top: 0;
  width: 8%;
}
#leftPatternImg2 {
  width: 8%;
}
.rightPatternImg {
  width: 9%;
  position: absolute;
  right: 0;
}
.navbar-light .navbar-brand {
  left: 15%;
  position: relative;
  color: #520359 !important;
  font-family: wBQBold;
  font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #520359 !important;
  font-family: wcfont;
  font-size: 34px;
}
.menuTextHead,
.menuTextHead2,
.menuTextHead3 {
  font-size: 35px;
  padding-top: 60px;
  font-family: Mantel;
  color: #520359;
}
.deviderImg {
  width: 48%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}
.menutext4 {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 48%;
}
.aboutImg {
  width: 35%;
}
.shareHeadtext {
  font-size: 30px;
  font-family: wBQBold;
  text-align: center;
}
.shareLinkList {
  width: 54%;
  margin: 0 auto !important;
  z-index: 1000;
  position: relative;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.shareImg {
  width: 70%;
}
.fDivLink {
  text-align: center;
  font-size: 30px;
  font-family: wBQBold;
  cursor: pointer;
}
.finalDivLink {
  padding-top: 40px;
  position: relative;
}
.shareLinkList {
  padding-top: 40px;
  width: 16%;
}
.aboutText {
  font-size: 40px !important;
  padding-top: 20px;
}
.shareHeader {
  padding: 3px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(82, 3, 89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:not(:disabled):not(.disabled) {
  border: none;
  outline: none;
}
.fDivLink a,
.fDivLink a:hover {
  color: #520359 !important;
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 968px) {
  .navbar-light .navbar-brand {
    left: 15%;
    position: relative;
    color: #520359 !important;
    font-family: wBQBold;
    font-size: 24px;
  }
  .navbar-nav > li {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 30px;
  }
  .menuTextHead,
  .menuTextHead2,
  .menuTextHead3 {
    font-size: 26px;
    padding-top: 30px;
    font-family: Mantel;
    color: #520359;
  }
  p {
    font-size: 25px;
  }
  .aboutText {
    font-size: 17px !important;
  }
  .shareLinkList {
    padding-top: 40px;
    width: 24%;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(82, 3, 89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  #iconLogo {
    display: block;
    position: relative;
    left: 24% !important;
    width: 50%;
  }
  #contactmngt {
    display: block !important;
  }
  .carousel-indicators {
    display: none !important;
  }
  .iconLogoImg {
    width: 100%;
    position: relative;
    right: 3em;
  }
  .orderNowMobile {
    position: absolute;
    right: 19%;
    top: 1em;
    display: block;
    font-family: "wBQBold";
  }
  .orderNowMobile:visited,
  .orderNowMobile:hover {
    text-decoration: none;
  }
  .navbar-brand {
    position: relative;
    left: 10% !important;
  }
  #leftPatternImg {
    width: 14%;
  }
  #leftPatternImg2 {
    width: 14%;
  }
  .rightPatternImg {
    width: 14%;
  }
  .navbar-light .navbar-brand {
    color: #520359 !important;
  }
  .navbar-light .navbar-brand {
    position: relative;
    color: #520359 !important;
    font-family: wBQBold;
    font-size: 20px;
  }
  .main {
    background-image: url(https://www.thalaivarsbiryani.com/assets/LeftPattern.png);
    background-repeat: repeat-y;
    width: 78%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 12%;
  }
  p {
    color: #520359;
    font-size: 18px;
    font-family: wcfont;
  }
  .menuTextHead,
  .menuTextHead2,
  .menuTextHead3 {
    font-size: 18px;
  }
  .menutext4 {
    width: 70% !important;
  }
  .shareImg {
    width: 60%;
  }
  .shareHeadtext {
    font-size: 17px;
    font-family: wBQBold;
    text-align: center;
  }
  .shareLinkList {
    padding-top: 15px;
    width: 50%;
  }
  .aboutText {
    font-size: 17px !important;
    padding-top: 11px;
  }
  .shareHeadtext {
    font-size: 12px;
  }
  .fDivLink {
    text-align: center;
    font-size: 15px;
    font-family: wBQBold;
  }
  #TBWLogo {
    position: relative;
    width: 150px;
    left: 0;
    top: -74px;
    right: 0;
    display: block;
    margin: 0 auto;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #520359 !important;
    font-family: wcfont;
    font-size: 28px;
  }
  #icontextMobile {
    display: none;
  }
  .menutext {
    margin-top: -119px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .navbar-light .navbar-brand {
    left: 15%;
    position: relative;
    color: #520359 !important;
    font-family: wBQBold;
    font-size: 24px;
  }
  .navbar-nav > li {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 24px;
  }
  .carousel-indicators {
    display: none !important;
  }
  .main {
    background-size: 10%;
  }
  .menuTextHead,
  .menuTextHead2,
  .menuTextHead3 {
    font-size: 26px;
    padding-top: 30px;
    font-family: Mantel;
    color: #520359;
  }
  p {
    font-size: 25px;
  }
  .aboutText {
    font-size: 17px !important;
  }
  .shareLinkList {
    padding-top: 40px;
    width: 24%;
  }
  .menutext4 {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 62%;
  }
  .shareHeadtext {
    font-size: 20px;
    font-family: wBQBold;
    text-align: center;
  }
  #TBWLogo {
    position: relative;
    width: 200px;
    left: 0;
    top: -99px;
    right: 0;
    display: block;
    margin: 0 auto;
  }
  .menutext {
    margin-top: -119px;
  }
}
@media only screen and (min-width: 1024px) {
  #carouselExampleIndicators {
    height: 84vh;
  }
  #TBWLogo {
    position: absolute;
    width: 19%;
    left: 75%;
    top: 50%;
    z-index: 1;
  }
}
